@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    background-color: #322f3d;
    {overflow-x: hidden;}
}

/* for nav bar */
.header_area .main-menu .navbar .navbar-brand{
    padding: 0 0.5rem 0 0.5rem;
} 

.header_area .main-menu .navbar{
    padding : 0.5rem 3rem;
}

.content{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 550;
    padding: 1.0rem;
    color: white;
}

/* name and intro */


.intro{
    font-family: 'Poppins', sans-serif;
}
#name{
    font-size: 3em;
}


/* skills */

.skill{
    background-color: #322f3d;
    color: white;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;    
}

.card{
    background-color: #4b5d67;
    color: white;
    width: 60%;
}
.project{
    background-color: #322f3d;
    color: white;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;    
}
.project-item{
    background-color: #87556f;
    color: white;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;    
}
footer{
    background-color: #222831;
    color: wheat;
    font-family: 'Roboto', sans-serif;
}